<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Product</title>
</head>
<body>
    <h1>Opret nyt produkt</h1>

    <form action="/create" method="post">
        <label for="name-field">Navn: </label>
        <input id="name-field" name="name" type="text">

        <label for="price-field">Pris: </label>
        <input id="price-field" name="price" type="number">

        <button type="submit">Opret produkt</button>
    </form>
</body>
</html>