<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<h1>Produktliste</h1>
<table>
    <thead>
    <tr>
        <th>
            Id
        </th>
        <th>
            Navn
        </th>
        <th>
            Pris
        </th>
        <th>
            Image
        </th>
        <th>slet?</th>
        <th>update</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="product : ${products}">
            <td th:text="${product.id}">
                1
            </td>
            <td th:text="${product.name}">
                MitProdukt
            </td>
            <td th:text="${product.price}">
                42
            </td>
            <td>
                <img th:src="@{'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/' + ${product.id} + '.png'}">
            </td>
            <td>
                <a th:href="@{'/delete/' + ${product.id}}"> Slet </a>
            </td>
            <td>
                <a th:href="@{'/update/' + ${product.id}}"> Opdater </a>
            </td>
        </tr>
    </tbody>
</table>

<a th:href="@{/create}">Opret produkt</a>
</body>
</html>